{% extends "index.html" %}

{% block title %}商品信息{% endblock %}


{% block page_content %}

<ul class="list-group">
  <li class="list-group-item list-group-item-info"><a href="{{ data['url']|safe }}" target="_blank", class="btn btn-info">{{ data['name'] }}</a></li>
  <li class="well list-group-item list-group-item-success">&emsp;&emsp;{{ image|safe }}</li>
  <li class="list-group-item list-group-item-warning">JD相似商品:</li>
  {% for j_goods in data['same'] %}
    <li class="list-group-item list-group-item-success">&emsp;&emsp;<a href="{{ j_goods['url']|safe }}" target="_blank">{{ j_goods['j_name']|safe }}</a>&emsp;¥{{ j_goods['price'] }}</li>
  {% endfor %}
</ul>

<script id="dsq-count-scr" src="//buhuipao-1.disqus.com/count.js" async></script>
<div id="disqus_thread"></div>
<script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

  };
  评论框
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://buhuipao-1.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}
