{% extends "base.html" %}

{% block title %}搜索{% endblock %}


{% block page_content %}


<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
    {{ wtf.form_field(form.price) }}
    </div>
  </div>

  <div class="col-lg-6">
    <div class="input-group">
    {{ wtf.form_field(form.key_word) }}
    </div>
  </div>

  {{ wtf.form_field(form.refresh) }}
  {{ wtf.form_field(form.submit) }}
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">搜索结果</div>

  <!-- Table -->
  <table class="table">
    {% for goods in result %}
    <tr class="list-group-item list-group-item-info">
      <td><a href="{{ goods['url']|safe }}" target="_blank">{{ goods['name']|safe }}</a></td>
      <td><span class="label label-info">¥{{ goods['prices'][-1]['price']|safe }}</span></td>
      <td><a href="{{ url_for('plot',  key_word=goods['key_word'], goods_name=goods['name']) }}" target="_blank", class="btn btn-info btn-sm">价格走势</a></td>
    </tr>
    {% endfor %}
  </table>
</div>


<!-- Page nav -->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li>
      <a href="{{ url_for('search', page=prev_page, refresh=refresh, key_word=key_word, price=price) }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>

    {% for i in end_page_list %}
      {% if page == i %}
        <li class="active"><a href="{{ url_for('search', page=i, refresh=refresh, key_word=key_word, price=price) }}">{{ i }}</a></li>
      {% else %}
        <li><a href="{{ url_for('search', page=i, refresh=refresh, key_word=key_word, price=price) }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}

    <li>
      <a href="{{ url_for('search', page=next_page, refresh=refresh, key_word=key_word, price=price) }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}
