{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}首页{% endblock %}


{% block page_content %}

<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.price) }}
  {{ wtf.form_field(form.key_word) }}
  {{ wtf.form_field(form.submit) }}
</form>


<div class="page-header">
  <h1>Hello, {% if limit_price %}{{ limit_price }}{% else %} 0 {% endif %}!</h1>
  <h1>Hello, {% if key_word %}{{ key_word }}{% else %} key_word {% endif %}!</h1>
</div>

{% endblock %}
